---
import { projects } from "~/utils/data";
import Article from "../common/article.astro";
import Section from "../common/section.astro";
import PortfolioItem from "./item.astro";
---

<Section>
  <Article title="Portfolio">
    <ul class="md:grid-cols-2 gap-6 grid">
      {projects.map((project) => <PortfolioItem {...project} />)}
    </ul>
  </Article>
</Section>
