---
import { Image } from "astro:assets";
import ExternalLink from "../common/icons/external-link.astro";

const { title, image, link } = Astro.props as Project;
---

<li
  class="aspect-video group border border-foreground/10 rounded-md overflow-hidden"
>
  <a href={link} rel="noopener noreferrer" target="_blank" class="relative">
    <div
      class="absolute size-full bg-background/30 backdrop-blur-sm transition-opacity duration-300 opacity-0 group-hover:opacity-100 grid place-content-center"
    >
      <ExternalLink class="size-8" />
    </div>
    <Image
      src={image}
      alt={title}
      width={600}
      height={250}
      loading="eager"
      class="size-full object-cover object-top"
    />
    <span class="sr-only">{title}</span>
  </a>
</li>
