---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h1">;

const { class: className, ...rest } = Astro.props;
---

<h1 class:list={["text-3xl font-bold sm:text-4xl", className]} {...rest}>
  <slot />
</h1>
