---
import Article from "./common/article.astro";
import Contact from "./common/contact/index.astro";
import Section from "./common/section.astro";
import Typography from "./common/typography.astro";
---

<Section>
  <Article title="About me">
    <Typography as="paragraph">
      I&apos;m from Colombia with over three years of <strong>experience</strong
      >. I focus on creating standout digital experiences that blend design and
      functionality, delivering user-friendly <strong>solutions</strong> that leave
      a lasting impression.
    </Typography>
  </Article>
  <Contact />
</Section>
