---
import Article from "./common/article.astro";
import Contact from "./common/contact/index.astro";
import P from "./common/headings/p.astro";
import Section from "./common/section.astro";
---

<Section>
  <Article title="About me">
    <P>
      I&apos;m from Colombia with over three years of <strong>experience</strong
      >. I focus on creating standout digital experiences that blend design and
      functionality, delivering user-friendly <strong>solutions</strong> that leave
      a lasting impression.
    </P>
  </Article>

  <Contact />
</Section>
