---
import { EMAIL_URL } from "../utils/constants";
import Section from "./common/section.astro";
import Typography from "./common/typography.astro";
---

<Section class="items-center border-none text-center">
  <Typography level={2}>Get in touch</Typography>
  <Typography as="paragraph" class="text-center">
    Feel free to ask a question or if you just want to say hi, I'll do my best
    to get back to you!
  </Typography>
  <a
    href={EMAIL_URL}
    rel="noopener noreferrer"
    class="rounded-full bg-blue-600 px-8 py-2 font-bold text-white duration-200 hover:bg-blue-700"
  >
    Say Hello
  </a>
</Section>
