---
import { EMAIL_URL } from "../utils/constants";
import H2 from "./common/headings/h2.astro";
import P from "./common/headings/p.astro";
import Section from "./common/section.astro";
---

<Section class="items-center border-none text-center">
  <H2>Get in touch</H2>
  <P class="text-center">
    Feel free to ask a question or if you just want to say hi, I'll do my best
    to get back to you!
  </P>
  <a
    href={EMAIL_URL}
    rel="noopener noreferrer"
    class="rounded-full bg-blue-600 px-8 py-2 font-bold text-white duration-200 hover:bg-blue-700"
  >
    Say Hello
  </a>
</Section>
