---
import { jobs } from "~/utils/data";

import Article from "../common/article.astro";
import Section from "../common/section.astro";
import ExperienceItem from "./item.astro";
---

<Section>
  <Article title="Experience">
    <ul class="grid gap-6 md:grid-cols-2">
      {jobs.map((job) => <ExperienceItem {...job} />)}
    </ul>
  </Article>
</Section>
