---
import H2 from "./headings/h2.astro";

interface Props {
  title?: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<article class="grid w-full gap-6">
  {title && <H2>{title}</H2>}
  <div class:list={["grid list-disc gap-2", className]}>
    <slot />
  </div>
</article>
