---
import Typography from "./typography.astro";

interface Props {
  title?: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<article class="grid w-full gap-6">
  {title && <Typography level={2}>{title}</Typography>}
  <div class:list={["grid list-disc gap-2", className]}>
    <slot />
  </div>
</article>
