<div
  id="cursor-follower"
  class="pointer-events-none fixed inset-0 z-0 hidden opacity-5 lg:block"
>
</div>

<script>
  const setCursorFollower = (event: MouseEvent | Event) => {
    const follower = document.getElementById("cursor-follower");

    if (follower && event instanceof MouseEvent) {
      const x = event.clientX;
      const y = event.clientY;
      follower.style.background = `radial-gradient(400px at ${x}px ${y}px, #2663E8, transparent 80%)`;
    }
  };

  document.addEventListener("mousemove", setCursorFollower);
  document.addEventListener("astro:after-swap", setCursorFollower);
</script>
