---
const { class: className, ...rest } = Astro.props;
---

<section
  class:list={[
    "my-8 flex flex-col items-start gap-6 border-foreground/10 sm:border-b sm:pb-4",
    className
  ]}
  {...rest}
>
  <slot />
</section>
