---
import SpotifyIcon from "../common/icons/spotify.astro";
---

<div class="flex w-full items-center justify-center space-x-2 text-center">
  <SpotifyIcon class="size-5" />
  <span> Not playing </span>
</div>
