---
import "@fontsource-variable/rubik";

import CursorFollower from "~/components/common/cursor-follower.astro";
import MetaTags from "~/components/common/meta-tags.astro";
import ThemeSwitcher from "~/components/common/theme-switcher.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <MetaTags title={title} />

  <body class="bg-background text-foreground antialiased">
    <CursorFollower />
    <main
      class="relative mx-auto flex w-full max-w-screen-md flex-col px-6 py-4 sm:pb-10 sm:pt-20"
    >
      <ThemeSwitcher />
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --background: 250 250 250;
    --foreground: 10 10 10;
    --dimmed: 90 90 90;
    --default-transition: 0.2s ease-in-out;
  }

  :root.dark {
    --background: 10 10 10;
    --foreground: 250 250 250;
    --dimmed: 190 190 190;
  }

  body {
    font-family: "Rubik Variable", sans-serif;
    font-display: swap;
  }

  strong {
    font-weight: 400;
    transition: font-weight var(--default-transition);
  }

  strong:hover {
    color: #ffffff;
    font-weight: 600;
    cursor: crosshair;
  }

  svg {
    stroke-width: 1.5;
    transition:
      transform var(--default-transition),
      stroke-width var(--default-transition);
  }
  svg:hover {
    stroke-width: 2;
    transform: scale(1.15);
  }
</style>
